
 #card{

    margin:8%;

    position:absolute;

    height: auto;

    width: 300px;

    border-radius:10px;

    background-color:white;

    background-image:url("https://i.pinimg.com/564x/bb/ed/b8/bbedb87102addeae917361d3d6e880d9.jpg");

    background-size:50vh,70vh;

    box-shadow:0px 0px 20px red;

    transform:rotate(5deg);
    top: 0px;
    opacity: 0;
    left: -200%; 

 }

.honey{

margin:auto;

padding:2%;

display:block;

border-radius:50%;

box-shadow: 0 4px 15px 0 rgb(247, 88, 88);

    width:50px;

    height:50px;

} 

h4{

    text-align:center;

      -webkit-text-fill-color: rgba(0,200,200,0.1);

     -webkit-background-clip:text ; background-image:url("https://i.pinimg.com/originals/20/21/7f/20217f7fa2c9701b8128d8fb153a4db9.gif");

     font-family: 'Allura', cursive;

     padding:-2%;

     font-size:19px;

     overflow:hidden;

} 
 .card-show{
    opacity: 1 !important;
    left: 0 !important;
    transition: all 3s;
}    